KeePassSync_S3/Web References/AmazonS3/AmazonS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://s3.amazonaws.com/doc/2006-03-01/" elementFormDefault="qualified" targetNamespace="http://s3.amazonaws.com/doc/2006-03-01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CreateBucket">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element minOccurs="0" name="AccessControlList" type="tns:AccessControlList" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MetadataEntry">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CreateBucketResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CreateBucketReturn" type="tns:CreateBucketResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Status">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:int" />
      <xsd:element name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Result">
    <xsd:sequence>
      <xsd:element name="Status" type="tns:Status" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateBucketResult">
    <xsd:sequence>
      <xsd:element name="BucketName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeleteBucket">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeleteBucketResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeleteBucketResponse" type="tns:Status" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BucketLoggingStatus">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="LoggingEnabled" type="tns:LoggingSettings" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LoggingSettings">
    <xsd:sequence>
      <xsd:element name="TargetBucket" type="xsd:string" />
      <xsd:element name="TargetPrefix" type="xsd:string" />
      <xsd:element minOccurs="0" name="TargetGrants" type="tns:AccessControlList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetBucketLoggingStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetBucketLoggingStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GetBucketLoggingStatusResponse" type="tns:BucketLoggingStatus" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetBucketLoggingStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
        <xsd:element name="BucketLoggingStatus" type="tns:BucketLoggingStatus" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetBucketLoggingStatusResponse">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetObjectAccessControlPolicy">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element name="Key" type="xsd:string" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetObjectAccessControlPolicyResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GetObjectAccessControlPolicyResponse" type="tns:AccessControlPolicy" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetBucketAccessControlPolicy">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetBucketAccessControlPolicyResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GetBucketAccessControlPolicyResponse" type="tns:AccessControlPolicy" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Grantee" abstract="true" />
  <xsd:complexType name="User" abstract="true">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:Grantee" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AmazonCustomerByEmail">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:User">
        <xsd:sequence>
          <xsd:element name="EmailAddress" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CanonicalUser">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:User">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string" />
          <xsd:element minOccurs="0" name="DisplayName" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Group">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:Grantee">
        <xsd:sequence>
          <xsd:element name="URI" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Permission">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="READ" />
      <xsd:enumeration value="WRITE" />
      <xsd:enumeration value="READ_ACP" />
      <xsd:enumeration value="WRITE_ACP" />
      <xsd:enumeration value="FULL_CONTROL" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StorageClass">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="STANDARD" />
      <xsd:enumeration value="UNKNOWN" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Grant">
    <xsd:sequence>
      <xsd:element name="Grantee" type="tns:Grantee" />
      <xsd:element name="Permission" type="tns:Permission" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccessControlList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="100" name="Grant" type="tns:Grant" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateBucketConfiguration">
    <xsd:sequence>
      <xsd:element name="LocationConstraint" type="tns:LocationConstraint" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocationConstraint">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AccessControlPolicy">
    <xsd:sequence>
      <xsd:element name="Owner" type="tns:CanonicalUser" />
      <xsd:element name="AccessControlList" type="tns:AccessControlList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SetObjectAccessControlPolicy">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element name="Key" type="xsd:string" />
        <xsd:element name="AccessControlList" type="tns:AccessControlList" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetObjectAccessControlPolicyResponse">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetBucketAccessControlPolicy">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element minOccurs="0" name="AccessControlList" type="tns:AccessControlList" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetBucketAccessControlPolicyResponse">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetObject">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element name="Key" type="xsd:string" />
        <xsd:element name="GetMetadata" type="xsd:boolean" />
        <xsd:element name="GetData" type="xsd:boolean" />
        <xsd:element name="InlineData" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetObjectResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GetObjectResponse" type="tns:GetObjectResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GetObjectResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:Result">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Metadata" type="tns:MetadataEntry" />
          <xsd:element name="Data" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="LastModified" type="xsd:dateTime" />
          <xsd:element name="ETag" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GetObjectExtended">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element name="Key" type="xsd:string" />
        <xsd:element name="GetMetadata" type="xsd:boolean" />
        <xsd:element name="GetData" type="xsd:boolean" />
        <xsd:element name="InlineData" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="ByteRangeStart" type="xsd:long" />
        <xsd:element minOccurs="0" name="ByteRangeEnd" type="xsd:long" />
        <xsd:element minOccurs="0" name="IfModifiedSince" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="IfUnmodifiedSince" type="xsd:dateTime" />
        <xsd:element minOccurs="0" maxOccurs="100" name="IfMatch" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="100" name="IfNoneMatch" type="xsd:string" />
        <xsd:element minOccurs="0" name="ReturnCompleteObjectOnConditionFailure" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetObjectExtendedResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GetObjectResponse" type="tns:GetObjectResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PutObject">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element name="Key" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="100" name="Metadata" type="tns:MetadataEntry" />
        <xsd:element name="ContentLength" type="xsd:long" />
        <xsd:element minOccurs="0" name="AccessControlList" type="tns:AccessControlList" />
        <xsd:element minOccurs="0" name="StorageClass" type="tns:StorageClass" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PutObjectResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PutObjectResponse" type="tns:PutObjectResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PutObjectResult">
    <xsd:sequence>
      <xsd:element name="ETag" type="xsd:string" />
      <xsd:element name="LastModified" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PutObjectInline">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element name="Key" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="100" name="Metadata" type="tns:MetadataEntry" />
        <xsd:element name="Data" type="xsd:base64Binary" />
        <xsd:element name="ContentLength" type="xsd:long" />
        <xsd:element minOccurs="0" name="AccessControlList" type="tns:AccessControlList" />
        <xsd:element minOccurs="0" name="StorageClass" type="tns:StorageClass" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PutObjectInlineResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PutObjectInlineResponse" type="tns:PutObjectResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeleteObject">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element name="Key" type="xsd:string" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeleteObjectResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeleteObjectResponse" type="tns:Status" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListBucket">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element minOccurs="0" name="Prefix" type="xsd:string" />
        <xsd:element minOccurs="0" name="Marker" type="xsd:string" />
        <xsd:element minOccurs="0" name="MaxKeys" type="xsd:int" />
        <xsd:element minOccurs="0" name="Delimiter" type="xsd:string" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListBucketResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ListBucketResponse" type="tns:ListBucketResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ListEntry">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string" />
      <xsd:element name="LastModified" type="xsd:dateTime" />
      <xsd:element name="ETag" type="xsd:string" />
      <xsd:element name="Size" type="xsd:long" />
      <xsd:element minOccurs="0" name="Owner" type="tns:CanonicalUser" />
      <xsd:element name="StorageClass" type="tns:StorageClass" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrefixEntry">
    <xsd:sequence>
      <xsd:element name="Prefix" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListBucketResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Metadata" type="tns:MetadataEntry" />
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="Prefix" type="xsd:string" />
      <xsd:element name="Marker" type="xsd:string" />
      <xsd:element minOccurs="0" name="NextMarker" type="xsd:string" />
      <xsd:element name="MaxKeys" type="xsd:int" />
      <xsd:element minOccurs="0" name="Delimiter" type="xsd:string" />
      <xsd:element name="IsTruncated" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Contents" type="tns:ListEntry" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CommonPrefixes" type="tns:PrefixEntry" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ListAllMyBuckets">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListAllMyBucketsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ListAllMyBucketsResponse" type="tns:ListAllMyBucketsResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ListAllMyBucketsEntry">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="CreationDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListAllMyBucketsResult">
    <xsd:sequence>
      <xsd:element name="Owner" type="tns:CanonicalUser" />
      <xsd:element name="Buckets" type="tns:ListAllMyBucketsList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListAllMyBucketsList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Bucket" type="tns:ListAllMyBucketsEntry" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PostResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Location" type="xsd:anyURI" />
        <xsd:element name="Bucket" type="xsd:string" />
        <xsd:element name="Key" type="xsd:string" />
        <xsd:element name="ETag" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="MetadataDirective">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="COPY" />
      <xsd:enumeration value="REPLACE" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="CopyObject">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SourceBucket" type="xsd:string" />
        <xsd:element name="SourceKey" type="xsd:string" />
        <xsd:element name="DestinationBucket" type="xsd:string" />
        <xsd:element name="DestinationKey" type="xsd:string" />
        <xsd:element minOccurs="0" name="MetadataDirective" type="tns:MetadataDirective" />
        <xsd:element minOccurs="0" maxOccurs="100" name="Metadata" type="tns:MetadataEntry" />
        <xsd:element minOccurs="0" name="AccessControlList" type="tns:AccessControlList" />
        <xsd:element minOccurs="0" name="CopySourceIfModifiedSince" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="CopySourceIfUnmodifiedSince" type="xsd:dateTime" />
        <xsd:element minOccurs="0" maxOccurs="100" name="CopySourceIfMatch" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="100" name="CopySourceIfNoneMatch" type="xsd:string" />
        <xsd:element minOccurs="0" name="StorageClass" type="tns:StorageClass" />
        <xsd:element minOccurs="0" name="AWSAccessKeyId" type="xsd:string" />
        <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" name="Signature" type="xsd:string" />
        <xsd:element minOccurs="0" name="Credential" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CopyObjectResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CopyObjectResult" type="tns:CopyObjectResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CopyObjectResult">
    <xsd:sequence>
      <xsd:element name="LastModified" type="xsd:dateTime" />
      <xsd:element name="ETag" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestPaymentConfiguration">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Payer" type="tns:Payer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Payer">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BucketOwner" />
      <xsd:enumeration value="Requester" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>