KeePassSync/Web References/AmazonS3/AmazonS3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://s3.amazonaws.com/doc/2006-03-01/" targetNamespace="http://s3.amazonaws.com/doc/2006-03-01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://s3.amazonaws.com/doc/2006-03-01/">
      <xsd:include schemaLocation="AmazonS3.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PutObjectRequest">
    <wsdl:part name="parameters" element="tns:PutObject" />
  </wsdl:message>
  <wsdl:message name="PutObjectInlineResponse">
    <wsdl:part name="parameters" element="tns:PutObjectInlineResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBucketResponse">
    <wsdl:part name="parameters" element="tns:CreateBucketResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjectExtendedResponse">
    <wsdl:part name="parameters" element="tns:GetObjectExtendedResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjectRequest">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="GetObjectAccessControlPolicyRequest">
    <wsdl:part name="parameters" element="tns:GetObjectAccessControlPolicy" />
  </wsdl:message>
  <wsdl:message name="GetBucketAccessControlPolicyRequest">
    <wsdl:part name="parameters" element="tns:GetBucketAccessControlPolicy" />
  </wsdl:message>
  <wsdl:message name="SetObjectAccessControlPolicyRequest">
    <wsdl:part name="parameters" element="tns:SetObjectAccessControlPolicy" />
  </wsdl:message>
  <wsdl:message name="SetBucketAccessControlPolicyRequest">
    <wsdl:part name="parameters" element="tns:SetBucketAccessControlPolicy" />
  </wsdl:message>
  <wsdl:message name="GetBucketLoggingStatusRequest">
    <wsdl:part name="parameters" element="tns:GetBucketLoggingStatus" />
  </wsdl:message>
  <wsdl:message name="SetBucketLoggingStatusRequest">
    <wsdl:part name="parameters" element="tns:SetBucketLoggingStatus" />
  </wsdl:message>
  <wsdl:message name="ListBucketResponse">
    <wsdl:part name="parameters" element="tns:ListBucketResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllMyBucketsResponse">
    <wsdl:part name="parameters" element="tns:ListAllMyBucketsResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjectExtendedRequest">
    <wsdl:part name="parameters" element="tns:GetObjectExtended" />
  </wsdl:message>
  <wsdl:message name="PutObjectResponse">
    <wsdl:part name="parameters" element="tns:PutObjectResponse" />
  </wsdl:message>
  <wsdl:message name="PutObjectInlineRequest">
    <wsdl:part name="parameters" element="tns:PutObjectInline" />
  </wsdl:message>
  <wsdl:message name="DeleteObjectResponse">
    <wsdl:part name="parameters" element="tns:DeleteObjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBucketRequest">
    <wsdl:part name="parameters" element="tns:DeleteBucket" />
  </wsdl:message>
  <wsdl:message name="ListBucketRequest">
    <wsdl:part name="parameters" element="tns:ListBucket" />
  </wsdl:message>
  <wsdl:message name="ListAllMyBucketsRequest">
    <wsdl:part name="parameters" element="tns:ListAllMyBuckets" />
  </wsdl:message>
  <wsdl:message name="GetObjectResponse">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjectAccessControlPolicyResponse">
    <wsdl:part name="parameters" element="tns:GetObjectAccessControlPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="GetBucketAccessControlPolicyResponse">
    <wsdl:part name="parameters" element="tns:GetBucketAccessControlPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="SetObjectAccessControlPolicyResponse">
    <wsdl:part name="parameters" element="tns:SetObjectAccessControlPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="SetBucketAccessControlPolicyResponse">
    <wsdl:part name="parameters" element="tns:SetBucketAccessControlPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="SetBucketLoggingStatusResponse">
    <wsdl:part name="parameters" element="tns:SetBucketLoggingStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetBucketLoggingStatusResponse">
    <wsdl:part name="parameters" element="tns:GetBucketLoggingStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBucketRequest">
    <wsdl:part name="parameters" element="tns:CreateBucket" />
  </wsdl:message>
  <wsdl:message name="DeleteObjectRequest">
    <wsdl:part name="parameters" element="tns:DeleteObject" />
  </wsdl:message>
  <wsdl:message name="DeleteBucketResponse">
    <wsdl:part name="parameters" element="tns:DeleteBucketResponse" />
  </wsdl:message>
  <wsdl:message name="CopyObjectRequest">
    <wsdl:part name="parameters" element="tns:CopyObject" />
  </wsdl:message>
  <wsdl:message name="CopyObjectResponse">
    <wsdl:part name="parameters" element="tns:CopyObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="AmazonS3">
    <wsdl:operation name="CreateBucket">
      <wsdl:input name="CreateBucketRequest" message="tns:CreateBucketRequest" />
      <wsdl:output name="CreateBucketResponse" message="tns:CreateBucketResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBucket">
      <wsdl:input name="DeleteBucketRequest" message="tns:DeleteBucketRequest" />
      <wsdl:output name="DeleteBucketResponse" message="tns:DeleteBucketResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectAccessControlPolicy">
      <wsdl:input name="GetObjectAccessControlPolicyRequest" message="tns:GetObjectAccessControlPolicyRequest" />
      <wsdl:output name="GetObjectAccessControlPolicyResponse" message="tns:GetObjectAccessControlPolicyResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBucketAccessControlPolicy">
      <wsdl:input name="GetBucketAccessControlPolicyRequest" message="tns:GetBucketAccessControlPolicyRequest" />
      <wsdl:output name="GetBucketAccessControlPolicyResponse" message="tns:GetBucketAccessControlPolicyResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetObjectAccessControlPolicy">
      <wsdl:input name="SetObjectAccessControlPolicyRequest" message="tns:SetObjectAccessControlPolicyRequest" />
      <wsdl:output name="SetObjectAccessControlPolicyResponse" message="tns:SetObjectAccessControlPolicyResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetBucketAccessControlPolicy">
      <wsdl:input name="SetBucketAccessControlPolicyRequest" message="tns:SetBucketAccessControlPolicyRequest" />
      <wsdl:output name="SetBucketAccessControlPolicyResponse" message="tns:SetBucketAccessControlPolicyResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <wsdl:input name="GetObjectRequest" message="tns:GetObjectRequest" />
      <wsdl:output name="GetObjectResponse" message="tns:GetObjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectExtended">
      <wsdl:input name="GetObjectExtendedRequest" message="tns:GetObjectExtendedRequest" />
      <wsdl:output name="GetObjectExtendedResponse" message="tns:GetObjectExtendedResponse" />
    </wsdl:operation>
    <wsdl:operation name="PutObject">
      <wsdl:input name="PutObjectRequest" message="tns:PutObjectRequest" />
      <wsdl:output name="PutObjectResponse" message="tns:PutObjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="PutObjectInline">
      <wsdl:input name="PutObjectInlineRequest" message="tns:PutObjectInlineRequest" />
      <wsdl:output name="PutObjectInlineResponse" message="tns:PutObjectInlineResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteObject">
      <wsdl:input name="DeleteObjectRequest" message="tns:DeleteObjectRequest" />
      <wsdl:output name="DeleteObjectResponse" message="tns:DeleteObjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListBucket">
      <wsdl:input name="ListBucketRequest" message="tns:ListBucketRequest" />
      <wsdl:output name="ListBucketResponse" message="tns:ListBucketResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListAllMyBuckets">
      <wsdl:input name="ListAllMyBucketsRequest" message="tns:ListAllMyBucketsRequest" />
      <wsdl:output name="ListAllMyBucketsResponse" message="tns:ListAllMyBucketsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBucketLoggingStatus">
      <wsdl:input name="GetBucketLoggingStatusRequest" message="tns:GetBucketLoggingStatusRequest" />
      <wsdl:output name="GetBucketLoggingStatusResponse" message="tns:GetBucketLoggingStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetBucketLoggingStatus">
      <wsdl:input name="SetBucketLoggingStatusRequest" message="tns:SetBucketLoggingStatusRequest" />
      <wsdl:output name="SetBucketLoggingStatusResponse" message="tns:SetBucketLoggingStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="CopyObject">
      <wsdl:input name="CopyObjectRequest" message="tns:CopyObjectRequest" />
      <wsdl:output name="CopyObjectResponse" message="tns:CopyObjectResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmazonS3SoapBinding" type="tns:AmazonS3">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBucket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="CreateBucketRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateBucketResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBucket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DeleteBucketRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteBucketResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectAccessControlPolicy">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="GetObjectAccessControlPolicyRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetObjectAccessControlPolicyResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBucketAccessControlPolicy">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="GetBucketAccessControlPolicyRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetBucketAccessControlPolicyResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetObjectAccessControlPolicy">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SetObjectAccessControlPolicyRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetObjectAccessControlPolicyResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBucketAccessControlPolicy">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SetBucketAccessControlPolicyRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetBucketAccessControlPolicyResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="GetObjectRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetObjectResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectExtended">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="GetObjectExtendedRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetObjectExtendedResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutObject">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="PutObjectRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PutObjectResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutObjectInline">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="PutObjectInlineRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PutObjectInlineResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteObject">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DeleteObjectRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteObjectResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListBucket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ListBucketRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListBucketResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllMyBuckets">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ListAllMyBucketsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListAllMyBucketsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBucketLoggingStatus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SetBucketLoggingStatusRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetBucketLoggingStatusResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBucketLoggingStatus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="GetBucketLoggingStatusRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetBucketLoggingStatusResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyObject">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="CopyObjectRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CopyObjectResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmazonS3">
    <wsdl:port name="AmazonS3" binding="tns:AmazonS3SoapBinding">
      <wsdlsoap:address location="https://s3.amazonaws.com/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>